body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #eae7ef;
}
.formRoot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h2 {
  color: rgba(255, 255, 255, 0.613);
}
button {
  cursor: pointer;
}
